/* Estilos Generales */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    transition: background-color 0.3s ease; /* Suave transición para el fondo */
}

/* Header */
header {
    background-color: #343a40;
    color: #fff;
    padding: 1.5em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#logo-container img {
    width: 160px;
    height: auto;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#logo-container img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.5em;
}

header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em 0;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

header nav a:hover {
    color: #ddd;
    border-bottom: 3px solid #fff;
    padding-bottom: 10px;
}
/* Boton li del cv */
.boton-cv {
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.imagen_oscar{
    width: 20%;
    height: auto;
    margin-bottom: 3%;
    margin-left: 2%;
}
.btn-descargar {
    background-color: #00aeff; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 12px 30px; /* Espaciado dentro del botón */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Hace el texto más visible */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    cursor: pointer; /* Cambia el cursor a puntero cuando el ratón pasa por encima */
    transition: background-color 0.3s, transform 0.3s; /* Efecto suave al cambiar color y al hacer hover */
}

.btn-descargar:hover {
    background-color: #ff6347; /* Color de fondo al pasar el ratón */
    transform: scale(1.05); /* Efecto de ampliación al hacer hover */
}


/* Main */
main {
    padding: 3em 2em;
    flex: 1;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    animation: fadeIn 1s ease-out; /* Animación de entrada */
}

#habilidades{
    width: 1200px;
    
}

/* Animación de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Títulos */
h1, h2, h3 {
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 0.5em;
    transition: color 0.3s ease;
}

h1 {
    font-size: 2.5rem;
    color: #2a9d8f; /* Color verde para resaltar */
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el título */
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
}

/* Proyectos */
#proyectos {
    padding: 50px 0;
    background-color: #f9f9f9;
}

/* Contenedor de habilidades */
#habilidades {
    background-color: #fff;
    padding: 2em;
    margin: 2em auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    text-align: center;
}

#habilidades h2 {
    font-size: 2.5rem;
    color: #0077ff;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Lista de habilidades */
#habilidades ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

#habilidades ul li {
    background: linear-gradient(135deg, #0066ff, #0099ff);
    color: #fff;
    padding: 1em 1.5em;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 250px;
    flex: 1 1 calc(33% - 1em);
    box-sizing: border-box;
}

#habilidades ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.titulo-proyectos {
    text-align: center;
    color: #333;
    font-size: 2.5em;
    margin-bottom: 3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: fadeIn 1.5s ease-out; /* Animación de entrada */
}

/* Contenedor de los proyectos */
.proyectos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); /* Columnas dinámicas */
    gap: 1em; /* Espacio entre los proyectos */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-content: center; /* Centra los elementos verticalmente */
    padding: 2em; /* Espaciado interno */
}


/* Estilo general de cada proyecto */
.proyecto {
    background-color: #fff;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards; /* Animación suave al cargar */
}

.proyecto:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Título de cada proyecto */
.titulo-proyecto {
    font-size: 1.6em;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* Imagen de cada proyecto */
.imagen-proyecto {
    width: auto;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.proyecto:hover .imagen-proyecto {
    transform: scale(1.05);
}

/* Detalles adicionales (expandibles) */
.expandir-info {
    display: none;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

/* Estilo de los botones */
.botones {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 20px;
}

.boton {
    background-color: #333;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.boton:hover {
    background-color: #555;
    transform: scale(1.05);
}

.boton-mas {
    background-color: #00d9ff;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.boton-mas:hover {
    background-color: #00a2ff;
    transform: scale(1.05);
}

/* Botones centrados */
.botones a, .botones button {
    flex-grow: 1;
    text-align: center;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: auto;
    background-color: #fafafa;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-out; /* Animación de entrada */
}

form label {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 8px;
}

input, textarea {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1em;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
    outline: none;
}

button[type="submit"] {
    background-color: #00bdf7;
    color: white;
    padding: 14px 25px;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

/* Footer */
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 2em 0;
    font-size: 1em;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
    margin-right: 25px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ccc;
    text-decoration: underline;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

#contacto {
    padding: 3em 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
    max-width: 600px;
    margin: 0 auto;
    box-sizing: border-box;
}

#contacto > div {
    flex: 1;
    min-width: 300px;
    max-width: 48%;
    padding: 2em;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contenido{
    display: flex;
    align-items: center;

}

/* Map Responsive */
.map iframe {
    width: 100%;
    height: 300px;
}

/* Media Queries */
@media (max-width: 768px) {
    #contacto {
        flex-direction: column;
        gap: 1.5em;
    }

    #contacto > div {
        max-width: 100%;
    }

    .map iframe {
        height: 250px;
    }
}

@media (max-width: 480px) {
    h2, h3 {
        font-size: 1.5rem;
    }

    button {
        padding: 10px 15px;
        font-size: 0.9rem;
    }
}

/* Diseño Responsivo */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .proyectos-container {
        flex-direction: column;
        align-items: center;
    }

    .proyecto {
        width: 90%;
        margin-bottom: 20px;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer li {
        margin-bottom: 10px;
    }
}

